/* Página interna Contacto */
// reset

.body {
    background: #000;
    color: #fff;
    padding: 0 4rem;
    font-size: 1.5rem;
    height: $height/2;
}
p {
    font-family: $font-family2;
}
// Redes Sociales

.redes-container {
    display: flex;
    align-items: center;
    justify-content: center;

    ul li {
        display: inline-block;
        margin: 0 0.5rem;
        width: 8rem;
        height: 8rem;
        text-align: center;
    }
    ul li a {
        display: block;
        padding: 0 0.1rem;
        background-color: rgb(54, 196, 90);
        color: white;
        line-height: 5rem;
        font-size: 1.8rem;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: $redes;
}
.redes-container ul li .instragram:hover {
    background: $redes;
}
.redes-container ul li .twitter:hover {
    background: $redes;
}
.redes-container ul li .linkedin:hover {
    background: $redes;
}

// nav

// Formulario

.form {
    margin: auto;
    max-width: 100rem;
    background: #011;
    padding: 3rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px grey;
    border-radius: 0.6rem;
    box-sizing: border-box;
    font-family: $font-family3;

    &__title {
        color: rgb(54, 196, 90);
        text-align: center;
        margin: 7rem;
        font-size: 3rem;
        margin-bottom: 4rem;
        font-family: $font-family3;
    }

    &__text {
        text-align: justify;
        margin-bottom: 4rem;
        font-size: 2rem;
        font-family: $font-family2;
    }
}
input,
textarea {
    font-size: 1.3rem;
    color: #fff;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(109, 105, 105);
    outline: none;
    padding: 1.5rem;
    font-family: $font-family2;
}
textarea {
    min-height: 14rem;
    max-height: 20rem;
    max-width: 100%;
    font-family: $font-family2;
}

#boton {
    background-color: rgb(54, 196, 90);
    border-radius: 0.5rem;
    border: 0.3rem solid gray;
    cursor: pointer;
    font-family: marcellus;
    font-size: 1.6rem;
    width: 100%;
    padding: 1.5rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#boton:hover {
    cursor: pointer;
    background: $redes;
}

.form__info {
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
}
