// * Página Cursos */

/* parrafos */
.section {
    font-size: 1em;
}
.section__title--decoration2 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.title3 {
    margin: 0 2rem;
    padding: 0 2rem;
}

/* formulario radio bottom */
.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 2rem;
    left: 50rem;
    /* Creas el borde */
    border: 5px solid transparent;

    /* agregas el gradiente a las esquinas */
    border-image: linear-gradient(
            to top,
            #08f300 0%,
            #ffd344 50%,
            rgb(18, 255, 117) 100%
        )
        1;

    border-radius: 30px;
}
