/* Estructura general */
body {
    background-color: $background-color;
}

.carousel slide {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
}
.carousel-inner {
    max-height: 100rem;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: lighter;
    padding: 2rem;
    margin: 2rem;
    background-color: transparent;
    width: 80%;
}

.titulos {
    background-color: rgb(54, 196, 90);
    border-radius: 0.5rem;
    border: 0.3rem solid gray;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1.5rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 2rem;
}
.titulos:hover {
    cursor: pointer;
    background: gray;
}
.border_title1 {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
}

.title {
    color: #000;
    text-align: center;
    font-size: 3rem;
    background: transparent;
    text-transform: uppercase;
}

p {
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* Title Section H2 */

.section__title {
    padding: 5rem;
    margin: 2rem;
    font-size: 5rem;
}

/* Title section decoration parrafo */

/* General */

.caracteristicas {
    color: #011;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    padding: 3rem;
    margin: 5rem;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-decoration: none;
    border: 3px solid white;
    background-color: #011;
    list-style: none;
    box-shadow: 10px 10px 8px 8px;
}
.contenedor2 {
    border: 1px white solid;
    background-color: #010301;
    padding: 1rem;
    box-shadow: 5px 5px 3px 3px;

    .contenedor2__parrafo {
        color: #011;
        font-size: 1.5em;
        font-family: "Oxygen", sans-serif;
        font-weight: 700;
    }
}
.wrap {
    width: 30em;
    margin: 5em px;
    display: flex;
    justify-content: center;
}
.tarjeta-wrap {
    background: rgb(35, 243, 63);
    margin: 1em;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta {
    width: 300px;
    height: 350px;
    background: rgb(35, 243, 63);
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease;
    -webkit-box-shadow: 0px 10px 15px -5 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5 rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5 rgba(0, 0, 0, 0.65);
}
.adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.atras {
    transform: rotateY(180deg);
}

.tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.caracteristicas__list {
    padding-bottom: 2rem;
    border: 1px solid #fff;
    background-color: #58ff4d;
    color: #011;
    text-align: center;
    text-decoration: none;
}

.plants {
    padding: 3rem;
    margin: 2rem;
    color: #000;
    font-weight: 300;
}

.plants__general {
    font-size: 3rem;
    text-align: center;
}

.plants__general--decoration {
    margin: 3rem;
    padding: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: justify;
}

.title1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #fff;
    text-align: center;
}

/* Images section */

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textoEncima {
    position: absolute;
    font-size: 5.5em;
    color: #000;
    font-weight: 600;
    font-family: "Marcellus SC", serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #58ff4d;
}

// MEDIA QUERIES
@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
    .seccion {
        width: 100% !important;
        text-align: center;
    }
}
