/* Estructura general */
body {
    background-color: $background-color;
}

.carousel-inner {
    max-height: 100rem;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: lighter;
    padding: 2rem;
    margin: 2rem;
    background-color: transparent;
    width: 80%;
}

.border_title {
    width: 60%;
    margin: 0 auto;
    padding: 20px;

    /* Creas el borde */
    border: 5px solid transparent;

    /* agregas el gradiente a las esquinas */
    border-image: linear-gradient(
            to left,
            #3acfd5 0%,
            #3a4ed5 50%,
            rgb(102, 204, 132) 100%
        )
        1;

    border-radius: 30px;
}

.border_title1 {
    width: 60%;
    margin: 0 auto;
    padding: 20px;

    border-radius: 30px;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    background: transparent;
    text-transform: uppercase;
}

/* Title Section H2 */

.section__title {
    padding: 5rem;
    margin: 2rem;
    font-size: 5rem;
    display: flex;
}

/* Title section decoration parrafo */

/* General */

.caracteristicas {
    list-style-type: circle;
    color: #011;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-weight: 500;
    padding: 3rem;
    margin: 5rem;
    border: solid #fff 2px;
    border-radius: 3rem;
    width: 60%;
    margin: 0 auto;
    padding: 20px;

    border-radius: 30px;
}

.caracteristicas__list {
    padding-bottom: 2rem;
    padding-left: rem;
    width: 80%;
    display: flex;
    justify-items: left;
    align-items: left;
}

.plants {
    padding: 3rem;
    margin: 2rem;
    color: #fff;
    font-weight: 500;
}

.plants__general {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 0rem;
}

.plants__general--decoration {
    margin: 3rem;
    padding: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: justify;
}

.title1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #fff;
    text-align: center;
}

/* Images section */

.position {
    padding-top: 2rem;
    margin: 0;
    width: 100%;
    position: relative;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.textoEncima {
    position: relative;
    bottom: 60rem;
    left: 10px;
    font-size: 6rem;
    color: white;
    font-weight: 400;
    font-family: "Marcellus SC", serif;
}
.image {
    display: flex;
    width: 1280px;
}

// MEDIA QUERIES
@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
    .seccion {
        width: 100% !important;
        text-align: center;
    }
}
