/* Estructura general */
body {
    background-color: $background-color;
    font-family: "Staatliches";
}

.carousel-inner {
    max-height: 100rem;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: lighter;
    padding: 2rem;
    margin: 2rem;
    background-color: transparent;
    width: 80%;
}

.border_title1 {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    background: transparent;
    text-transform: uppercase;
}

p {
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* Title Section H2 */

.section__title {
    padding: 5rem;
    margin: 2rem;
    font-size: 5rem;
}

/* Title section decoration parrafo */

/* General */

.caracteristicas {
    color: #011;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 3rem;
    margin: 5rem;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #011;
    list-style: none;
    box-shadow: 20px 20px 20px 20px;
}

.caracteristicas__list {
    padding-bottom: 2rem;
    border: 1px solid #fff;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
}

.plants {
    padding: 3rem;
    margin: 2rem;
    color: #fff;
    font-weight: 500;
}

.plants__general {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 0rem;
}

.plants__general--decoration {
    margin: 3rem;
    padding: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: justify;
}

.title1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #fff;
    text-align: center;
}

/* Images section */

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.textoEncima {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 60rem;
    left: 10px;
    font-size: 6rem;
    color: white;
    font-weight: 400;
    font-family: "Marcellus SC", serif;
}
.image {
    max-width: 1280px;
}

// MEDIA QUERIES
@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
    .seccion {
        width: 100% !important;
        text-align: center;
    }
}
