/* Página interna quienesSomos */

/* Grid */
.container {
    background-color: #000;
    display: grid;
    gap: 1.6em;
    margin-top: 8rem;
}

// .container .header,
// .container .footer {
//     grid-column: 1/6;
// }

// .container > .content {
//     grid-column: span 3;
// }

// .container > .sidebar {
//     grid-column: span 2;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

.container .sidebar img {
    width: 100%;
    margin-top: 5px;
}

.content > .article {
    padding: 20px;
    margin-top: 5px;
    color: #fff;
}

.content > .article h4,
.content > .article p {
    padding: 10px;
    font-size: 15px;
}

/* Map section Quienes Somos */
.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border_title2 {
    /* Creas el borde */
    border: 5px solid transparent;

    /* agregas el gradiente a las esquinas */
    border-image: linear-gradient(
            to top,
            #08f300 0%,
            #ffd344 50%,
            rgb(18, 255, 117) 100%
        )
        1;

    border-radius: 30px;
}
