/* Página interna quienesSomos */

/* Grid */
.container {
    background-color: #000;
    display: grid;
    gap: 1.6em;
    margin-top: 8rem;
}

.container-img {
    margin-top: 5px;
    max-width: 100%;
    background-color: #000;
}

.content > .article {
    padding: 20px;
    margin-top: 5px;
    color: #fff;
}

.content > .article h4,
.content > .article p {
    padding: 10px;
    font-size: 15px;
}

/* Map section Quienes Somos */
.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif, sans-serif;
    color: white;
    font-weight: bold;
}

img {
    width: 275px;
}
