/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007da7;
}
.btn-ttc {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #43d200 0%, #007da7 100%);
}
.btn-ttc:hover {
    background-position: 0 -15px;
}
