/* Encabezado */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    border-bottom: solid #fff 1px;
    z-index: 300;
    background-color: $background-color;
}

/* titulo del encabezado */

/* logo */

.header__title--img {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    bottom: 2rem;
}
